################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Debug
*.lock
*.user
graph_info.json
conaninfo.txt
conanbuildinfo.txt
